{
  "plugins": [
    ["prismjs", {
      "languages": ["js", "typescript", "shell", "bash", "json"],
      "plugins": ["line-numbers", "line-highlight"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
